#o arquivo gitignore serve para ignorar quais arquivos devem ser ignorados ao fazer um commit.
#é importante não gravar, pois são arquivos de execução.

#linha 6 - todos os arquivos .gradle serão ignorados.
#linha 7 - todos os diretórios que começam com build serão ignorados.
.gradle 
**/build/

#Ignorar também os arquivos gradle GUI config
gradle-app.setting

!gradle-wrapper.jar

#cache do projeto
.gradletasknamecache

#os arquivos .class
*.class

#arquivos de pacote
*.jar
*.war
*.ear

.settings/*
bin/*
.project
.classpath